body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f9f9f9;
}

nav {
    background: #ffdee9;
    padding: 12px;
    text-align: center;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    color: #7a003c;
}

.container {
    max-width: 700px;
    margin: auto;
    padding: 30px;
    text-align: center;
}

h1 span {
    color: #b30059;
}

.avatar {
    width: 180px;
    border-radius: 50%;
    margin: 20px 0;
}

.role {
    font-style: italic;
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    padding: 6px 0;
}
